[Unit]
Description=NMIoT
After=network.target
[Service]
WorkingDirectory=/home/pi/NMIoT
ExecStart=/usr/bin/python3 main.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
