[Unit]
Description=NMIoT
After=network.target
[Service]
WorkingDirectory=/home/pi/NMIoT
ExecStart=/home/pi/NMIoT/nmiot/bin/python main.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
